################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AlgorithmAndDS/bin/Debug
/AlgorithmAndDS/obj
